In [1]:
# Import dependencies

import pandas as pd

import matplotlib.pyplot as plt

import numpy as np

In [2]:
# Create a set of random lats and longs combo

lats = np.random.uniform(-90.000,90.000,size=1500)

longs = np.random.uniform(-180.000,180.000, size=1500)

lat_longs = zip(lats, longs)

lat_longs

In [5]:
coordinates = list(lat_longs)

In [6]:
from citipy import citipy

In [15]:
# import requests library

import requests

# import API key

from config import weather_api_key

url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

In [16]:
# create a list for holding cities

cities = []

# identify nearest city for each lat and long combo

for coordinate in coordinates:
    
    city = citipy.nearest_city(coordinate[0],coordinate[1]).city_name
    
#     if the city is unique, add to cities list
    if city not in cities:
        cities.append(city)
        
# print len cities

len(cities)

611

In [17]:
import requests

requests.__version__

'2.26.0'

In [18]:
# import time library

import time 

from datetime import datetime

In [21]:
# create empty list for weather data

city_data = []

# print beginning of the logging

print('Beginning Data Retrieval    ')

print('----------------------------')


# create counters

record_count = 1

set_count = 1

# Loop through all the cities in the list

for i, city in enumerate(cities):
    
    
#     Group cities in sets of 50 for logging purposes

    if (i % 50 == 0 and i >= 50):
        
        set_count += 1
        
        record_count = 1
        
        time.sleep(60)
        
#         Create endpoint url
    city_url = url + '&q=' + city.replace(" ","+")
    
#     log the url
    print(f'Processing Record {record_count} of Set {set_count} | {city}')
    
#     add 1 to the record count

    record_count += 1
    
    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
----------------------------
Processing Record 1 of Set 1 | road town
Processing Record 2 of Set 1 | camocim
Processing Record 3 of Set 1 | tuatapere
Processing Record 4 of Set 1 | jalu
Processing Record 5 of Set 1 | la palma
Processing Record 6 of Set 1 | bacolod
Processing Record 7 of Set 1 | devils lake
Processing Record 8 of Set 1 | xichang
Processing Record 9 of Set 1 | tomatlan
Processing Record 10 of Set 1 | luderitz
Processing Record 11 of Set 1 | roald
Processing Record 12 of Set 1 | kapaa
Processing Record 13 of Set 1 | ushuaia
Processing Record 14 of Set 1 | bilibino
Processing Record 15 of Set 1 | praia da vitoria
Processing Record 16 of Set 1 | bredasdorp
Processing Record 17 of Set 1 | nishihara
Processing Record 18 of Set 1 | samalaeulu
City not found. Skipping...
Processing Record 19 of Set 1 | illoqqortoormiut
City not found. Skipping...
Processing Record 20 of Set 1 | puerto ayora
Processing Record 21 of Set 1 | rikitea
Processing Record 22 of Set 1 | iqaluit
Processing Record 23 of Set 1 | vanimo
Processing Record 24 of Set 1 | nhulunbuy
Processing Record 25 of Set 1 | vaini
Processing Record 26 of Set 1 | busselton
Processing Record 27 of Set 1 | krasnyy chikoy
Processing Record 28 of Set 1 | kutum
Processing Record 29 of Set 1 | norman wells
Processing Record 30 of Set 1 | chuy
Processing Record 31 of Set 1 | castro
Processing Record 32 of Set 1 | torbay
Processing Record 33 of Set 1 | warwick
Processing Record 34 of Set 1 | faya
Processing Record 35 of Set 1 | mataura
Processing Record 36 of Set 1 | belushya guba
City not found. Skipping...
Processing Record 37 of Set 1 | jamestown
Processing Record 38 of Set 1 | hasaki
Processing Record 39 of Set 1 | albany
Processing Record 40 of Set 1 | beipiao
Processing Record 41 of Set 1 | cardonal
Processing Record 42 of Set 1 | esperance
Processing Record 43 of Set 1 | chifeng
Processing Record 44 of Set 1 | skjervoy
Processing Record 45 of Set 1 | chokurdakh
Processing Record 46 of Set 1 | bengkulu
Processing Record 47 of Set 1 | upernavik
Processing Record 48 of Set 1 | narsaq
Processing Record 49 of Set 1 | mar del plata
Processing Record 50 of Set 1 | souillac
Processing Record 1 of Set 2 | port lincoln
Processing Record 2 of Set 2 | kitimat
Processing Record 3 of Set 2 | ilulissat
Processing Record 4 of Set 2 | suez
Processing Record 5 of Set 2 | pokhara
Processing Record 6 of Set 2 | saleaula
City not found. Skipping...
Processing Record 7 of Set 2 | cidreira
Processing Record 8 of Set 2 | bethel
Processing Record 9 of Set 2 | rodrigues alves
Processing Record 10 of Set 2 | bluff
Processing Record 11 of Set 2 | attawapiskat
City not found. Skipping...
Processing Record 12 of Set 2 | verkhnyaya inta
Processing Record 13 of Set 2 | ust-omchug
Processing Record 14 of Set 2 | nemuro
Processing Record 15 of Set 2 | kruisfontein
Processing Record 16 of Set 2 | chapleau
Processing Record 17 of Set 2 | te anau
Processing Record 18 of Set 2 | port elizabeth
Processing Record 19 of Set 2 | matara
Processing Record 20 of Set 2 | tiksi
Processing Record 21 of Set 2 | lander
Processing Record 22 of Set 2 | saint-philippe
Processing Record 23 of Set 2 | yellowknife
Processing Record 24 of Set 2 | avarua
Processing Record 25 of Set 2 | chernyshevskiy
Processing Record 26 of Set 2 | bowen
Processing Record 27 of Set 2 | ponta do sol
Processing Record 28 of Set 2 | bridlington
Processing Record 29 of Set 2 | lolua
City not found. Skipping...
Processing Record 30 of Set 2 | deshnok
Processing Record 31 of Set 2 | atuona
Processing Record 32 of Set 2 | biharamulo
Processing Record 33 of Set 2 | choya
Processing Record 34 of Set 2 | punta arenas
Processing Record 35 of Set 2 | vaitupu
City not found. Skipping...
Processing Record 36 of Set 2 | barentsburg
City not found. Skipping...
Processing Record 37 of Set 2 | shubarkuduk
Processing Record 38 of Set 2 | scottsburgh
City not found. Skipping...
Processing Record 39 of Set 2 | coihaique
Processing Record 40 of Set 2 | aflu
City not found. Skipping...
Processing Record 41 of Set 2 | nome
Processing Record 42 of Set 2 | baykit
Processing Record 43 of Set 2 | constitucion
Processing Record 44 of Set 2 | khatanga
Processing Record 45 of Set 2 | kuruman
Processing Record 46 of Set 2 | henties bay
Processing Record 47 of Set 2 | mackay
Processing Record 48 of Set 2 | kasaragod
Processing Record 49 of Set 2 | quatre cocos
Processing Record 50 of Set 2 | north bend
Processing Record 1 of Set 3 | hobart
Processing Record 2 of Set 3 | berlevag
Processing Record 3 of Set 3 | nizhniy ufaley
Processing Record 4 of Set 3 | ambon
Processing Record 5 of Set 3 | thompson
Processing Record 6 of Set 3 | hilo
Processing Record 7 of Set 3 | samarai
Processing Record 8 of Set 3 | ugoofaaru
Processing Record 9 of Set 3 | cape town
Processing Record 10 of Set 3 | talnakh
Processing Record 11 of Set 3 | uyuni
Processing Record 12 of Set 3 | la cruz
Processing Record 13 of Set 3 | takoradi
Processing Record 14 of Set 3 | bathsheba
Processing Record 15 of Set 3 | tasiilaq
Processing Record 16 of Set 3 | guerrero negro
Processing Record 17 of Set 3 | qaanaaq
Processing Record 18 of Set 3 | parabel
Processing Record 19 of Set 3 | onalaska
Processing Record 20 of Set 3 | zhangye
Processing Record 21 of Set 3 | hermanus
Processing Record 22 of Set 3 | butaritari
Processing Record 23 of Set 3 | saint george
Processing Record 24 of Set 3 | glubokoe
City not found. Skipping...
Processing Record 25 of Set 3 | hovd
Processing Record 26 of Set 3 | faanui
Processing Record 27 of Set 3 | longyearbyen
Processing Record 28 of Set 3 | pauini
Processing Record 29 of Set 3 | busayra
Processing Record 30 of Set 3 | nanortalik
Processing Record 31 of Set 3 | aranda de duero
Processing Record 32 of Set 3 | mount isa
Processing Record 33 of Set 3 | broome
Processing Record 34 of Set 3 | beloha
Processing Record 35 of Set 3 | tromso
Processing Record 36 of Set 3 | klaksvik
Processing Record 37 of Set 3 | zorritos
Processing Record 38 of Set 3 | zhigansk
Processing Record 39 of Set 3 | barrow
Processing Record 40 of Set 3 | mahebourg
Processing Record 41 of Set 3 | victoria
Processing Record 42 of Set 3 | brownsville
Processing Record 43 of Set 3 | sao joao da barra
Processing Record 44 of Set 3 | pacific grove
Processing Record 45 of Set 3 | salalah
Processing Record 46 of Set 3 | dikson
Processing Record 47 of Set 3 | severo-kurilsk
Processing Record 48 of Set 3 | taolanaro
City not found. Skipping...
Processing Record 49 of Set 3 | abha
Processing Record 50 of Set 3 | port alfred
Processing Record 1 of Set 4 | rungata
City not found. Skipping...
Processing Record 2 of Set 4 | punta alta
Processing Record 3 of Set 4 | guanica
Processing Record 4 of Set 4 | katsuura
Processing Record 5 of Set 4 | santa lucia
Processing Record 6 of Set 4 | avera
Processing Record 7 of Set 4 | east london
Processing Record 8 of Set 4 | uyar
Processing Record 9 of Set 4 | togur
Processing Record 10 of Set 4 | sechura
Processing Record 11 of Set 4 | outlook
Processing Record 12 of Set 4 | tautira
Processing Record 13 of Set 4 | kampene
Processing Record 14 of Set 4 | noumea
Processing Record 15 of Set 4 | tsihombe
City not found. Skipping...
Processing Record 16 of Set 4 | salina
Processing Record 17 of Set 4 | labuhan
Processing Record 18 of Set 4 | khonuu
City not found. Skipping...
Processing Record 19 of Set 4 | at-bashi
Processing Record 20 of Set 4 | clyde river
Processing Record 21 of Set 4 | verkhovyna
Processing Record 22 of Set 4 | ribeira grande
Processing Record 23 of Set 4 | kobryn
Processing Record 24 of Set 4 | ahipara
Processing Record 25 of Set 4 | tuktoyaktuk
Processing Record 26 of Set 4 | bulawayo
Processing Record 27 of Set 4 | isangel
Processing Record 28 of Set 4 | bela
Processing Record 29 of Set 4 | toliary
City not found. Skipping...
Processing Record 30 of Set 4 | yumen
Processing Record 31 of Set 4 | new norfolk
Processing Record 32 of Set 4 | gurgan
City not found. Skipping...
Processing Record 33 of Set 4 | bambous virieux
Processing Record 34 of Set 4 | turayf
Processing Record 35 of Set 4 | provideniya
Processing Record 36 of Set 4 | sol-iletsk
Processing Record 37 of Set 4 | japura

Processing Record 38 of Set 4 | cazaje
City not found. Skipping...
Processing Record 39 of Set 4 | gull lake
Processing Record 40 of Set 4 | fortuna
Processing Record 41 of Set 4 | whitehorse
Processing Record 42 of Set 4 | coquimbo
Processing Record 43 of Set 4 | morant bay
Processing Record 44 of Set 4 | aginskoye
Processing Record 45 of Set 4 | karamea
City not found. Skipping...
Processing Record 46 of Set 4 | warqla
City not found. Skipping...
Processing Record 47 of Set 4 | teya
Processing Record 48 of Set 4 | sorvag
City not found. Skipping...
Processing Record 49 of Set 4 | dwarka
Processing Record 50 of Set 4 | fethiye
Processing Record 1 of Set 5 | kahului
Processing Record 2 of Set 5 | salinas
Processing Record 3 of Set 5 | buraydah
Processing Record 4 of Set 5 | mitsamiouli
Processing Record 5 of Set 5 | grindavik
Processing Record 6 of Set 5 | college
Processing Record 7 of Set 5 | san quintin
Processing Record 8 of Set 5 | yuanping
Processing Record 9 of Set 5 | aswan
Processing Record 10 of Set 5 | tura
Processing Record 11 of Set 5 | shinpokh
Processing Record 12 of Set 5 | kismayo
Processing Record 13 of Set 5 | sabha
Processing Record 14 of Set 5 | qaqortoq
Processing Record 15 of Set 5 | dunmore town
Processing Record 16 of Set 5 | yerbogachen
Processing Record 17 of Set 5 | vila velha
Processing Record 18 of Set 5 | athens
Processing Record 19 of Set 5 | louisbourg
City not found. Skipping...
Processing Record 20 of Set 5 | sola
Processing Record 21 of Set 5 | lebu
Processing Record 22 of Set 5 | ekimchan
Processing Record 23 of Set 5 | pevek
Processing Record 24 of Set 5 | vardo
Processing Record 25 of Set 5 | mys shmidta
City not found. Skipping...
Processing Record 26 of Set 5 | codrington
Processing Record 27 of Set 5 | sao filipe
Processing Record 28 of Set 5 | santa fe
Processing Record 29 of Set 5 | kavaratti
Processing Record 30 of Set 5 | san jose
Processing Record 31 of Set 5 | matagami
Processing Record 32 of Set 5 | wielun
Processing Record 33 of Set 5 | urucara
Processing Record 34 of Set 5 | vao
Processing Record 35 of Set 5 | sangar
Processing Record 36 of Set 5 | olafsvik
Processing Record 37 of Set 5 | gaziantep
Processing Record 38 of Set 5 | rio grande
Processing Record 39 of Set 5 | kjollefjord
Processing Record 40 of Set 5 | rawatsar
Processing Record 41 of Set 5 | hanzhong
Processing Record 42 of Set 5 | den helder
Processing Record 43 of Set 5 | lompoc
Processing Record 44 of Set 5 | touros
Processing Record 45 of Set 5 | nikolskoye
Processing Record 46 of Set 5 | urbana
Processing Record 47 of Set 5 | djenne
Processing Record 48 of Set 5 | tigri
City not found. Skipping...
Processing Record 49 of Set 5 | parana
Processing Record 50 of Set 5 | pasan

KeyboardInterrupt:

In [22]:
# Convert the array of dicts to a pd DF

city_data_df = pd.DataFrame(city_data)

city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Road Town,18.4167,-64.6167,80.69,83,20,6.91,VG,2022-05-10 00:31:30
1,Camocim,-2.9022,-40.8411,75.81,92,100,1.77,BR,2022-05-10 00:34:35
2,Tuatapere,-46.1333,167.6833,51.69,68,12,3.98,NZ,2022-05-10 00:34:36
3,Jalu,29.0331,21.5482,65.68,49,34,11.10,LY,2022-05-10 00:34:36
4,La Palma,33.8464,-118.0467,71.87,43,20,17.27,US,2022-05-10 00:34:23
5,Bacolod,10.6667,122.9500,87.17,62,80,7.47,PH,2022-05-10 00:30:27
6,Devils Lake,48.1128,-98.8651,51.91,89,100,11.50,US,2022-05-10 00:34:37
7,Xichang,27.8964,102.2634,64.15,79,39,0.98,CN,2022-05-10 00:34:38
8,Tomatlan,19.9333,-105.2500,80.64,59,8,6.40,MX,2022-05-10 00:34:39
9,Luderitz,-26.6481,15.1594,59.74,52,6,6.04,NA,2022-05-10 00:34:39

In [24]:
new_column_order = ['City', 'Country','Date', 'Lat','Lng','Max Temp','Humidity','Cloudiness', 'Wind Speed']

city_data_df = city_data_df[new_column_order]

In [25]:
city_data_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Road Town,VG,2022-05-10 00:31:30,18.4167,-64.6167,80.69,83,20,6.91
1,Camocim,BR,2022-05-10 00:34:35,-2.9022,-40.8411,75.81,92,100,1.77
2,Tuatapere,NZ,2022-05-10 00:34:36,-46.1333,167.6833,51.69,68,12,3.98
3,Jalu,LY,2022-05-10 00:34:36,29.0331,21.5482,65.68,49,34,11.10
4,La Palma,US,2022-05-10 00:34:23,33.8464,-118.0467,71.87,43,20,17.27
...,...,...,...,...,...,...,...,...,...
221,Nikolskoye,RU,2022-05-10 00:40:35,59.7035,30.7861,39.87,75,25,4.29
222,Urbana,US,2022-05-10 00:40:36,40.1106,-88.2073,78.89,66,0,21.85
223,Djenne,ML,2022-05-10 00:40:36,13.9061,-4.5533,87.80,8,12,8.81
224,Parana,AR,2022-05-10 00:39:54,-31.7320,-60.5238,62.56,87,99,4.09
225,Pasan,IN,2022-05-10 00:40:37,22.8500,82.2000,75.11,73,11,3.49

In [26]:
# create output file csv

output_data_file = 'weather_data/cities.csv'

# export the city_data into a csv

city_data_df.to_csv(output_data_file, index_label = 'City ID')